In [1]:
#make a student card based based on variables which should show some basic information of the enrolled student

# Student Card Task

In [31]:
Name = input("Enter Student Name ")
Father_Name = input('Enter Father Name ')
Program = input ('Which Program Is Candidate Enrolled In ?')
Module_Number = input('Please Enter The Ongoing Module Number')
Status = input ('Is The Student Active Or Inactive ? ')
Email = input ('Enter The Email Address Of The Student')
Age = input ('Enter The Age Of The Student')
date_of_admission = input ('Please Enter The Date Of Admission')
class_timing = input ('Please Enter The Class Timings')

Enter Student Name A
Enter Father Name w
Which Program Is Candidate Enrolled In ?
Please Enter The Ongoing Module Numberff
Is The Student Active Or Inactive ? s
Enter The Email Address Of The Studentx
Enter The Age Of The Studentf
Please Enter The Date Of Admissiong
Please Enter The Class Timingsa

In [32]:
Student_Card = """
Name : """ + Name + """
Father Name : """ + Father_Name + """
Enrolled Program : """ +  Program + """
Module Number : """ + str(Module_Number) + """
Status : """ + Status + """
Email : """ + Email + """
Age : """ + str(Age) + """
Date Of Joining : """ + str(date_of_admission) + """
Class Timing : """ + str(class_timing)

print(Student_Card)

Name : A
Father Name : w
Enrolled Program :
Module Number : ff
Status : s
Email : x
Age : f
Date Of Joining : g
Class Timing : a

# .Format concept

In [33]:
# the more easiest way is to perform the same process with the format method

In [37]:
student_name = "Zeeshan"
studnet_father_name = "Yaseen"
batch = '04'
university_name = "NED"
age = 26
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'

print("Student Card")
student_card = """
Name : {}
Father Name : {}
Age : {}
Gender : {}
Batch Number : {}
""".format(student_name,studnet_father_name,age,gender,batch)

print(student_card)

Student Card

Name : Zeeshan
Father Name : Yaseen
Age : 26
Gender : Male
Batch Number : 04

In [56]:
# make a card of the data attached in the excel file in a way that each record must have a unique card 
# reference file Student_Card_DATA.xlsx

import pandas as pd 
import numpy as np
df = pd.read_excel("Student_Card_DATA.xlsx")
df.head(10)

   id    name   fname        course
0   1   Ahmed  Hunain       Python3
1   2  junaid   Iqbal        Python
2   3  Rashid   Imran            AI
3   4   Qasim   Yasir        Python
4   5  Konain  Nusrat  Data Science
5   6   Yasir  Rashid        Python
6   7   Jasim    Abid        Python

In [54]:
#for sid,name,fname,course in df.values:
#    Student_card = """
#    Student ID : {}
#    Student Name : {}
#   Student Father Name : {}
#    Enrolled Course : {}
#    """.format(sid,name,fname,course)
#    print(Student_card)
#    print("=======")

for sid,name,fname,course in df.values:
    Student_card = f"""
    Student ID : {sid}
    Student Name : {name}
    Student Father Name : {fname}
    Enrolled Course : {course}
    """
    print(Student_card)
    print("=======")

    Student ID : 1
    Student Name : Ahmed
    Student Father Name : Hunain
    Enrolled Course : Python3

=======

    Student ID : 2
    Student Name : junaid
    Student Father Name : Iqbal
    Enrolled Course : Python

=======

    Student ID : 3
    Student Name : Rashid
    Student Father Name : Imran
    Enrolled Course : AI

=======

    Student ID : 4
    Student Name : Qasim
    Student Father Name : Yasir
    Enrolled Course : Python

=======

    Student ID : 5
    Student Name : Konain
    Student Father Name : Nusrat
    Enrolled Course : Data Science

=======

    Student ID : 6
    Student Name : Yasir
    Student Father Name : Rashid
    Enrolled Course : Python

=======

    Student ID : 7
    Student Name : Jasim
    Student Father Name : Abid
    Enrolled Course : Python

=======